<p>Hello <%= @resource.email %>!</p>

<p>パスワードを変更する要求がありました。以下のリンクから変更してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>この要求に心当たりがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを更新しなければ、パスワードは変更されません。</p>
